body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color:white;
    background-color: black;
    margin:0;
    padding: 0;
    background-image: url(../images/smoke.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: auto;
    padding-left: 10vh;
    padding-right: 10vh;
    text-shadow: 1px 1px silver;
    z-index:1;
}

header > .container {
    width:100%;
}

header h1 {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    right:1rem;
    top: .4rem;
}

header h1 img {
    vertical-align: middle;
}

.project{
    position: absolute;
    z-index: 1000;
    width: 300px;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #8181814a;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px #ffffff50;
    min-height: 200px;
}

.project img{
    width: 85%;
    border-radius: .5rem;
}

.project a{
    width: 100%;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 1.5rem;
}

.project a.title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.project a.description{
    font-size: 1rem;
    font-weight: bold;
    margin-top: .5rem;
}

.project a.github{
    margin-top: .2rem;
}

.project a.github img{
    width: 1.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5vh;
    padding-bottom: 5vh;
    z-index:1;
}

footer > .container {
    width:100%;
}

footer a {
    font-size: .8rem;
    color:white;
    text-decoration: none;
}

footer a::after {
    content: "|";
    padding-left: .5rem;
}

footer a:last-child::after {
    content: "";
}

@media (max-width: 500px) {
    header{
        text-shadow: 0 0 transparent;
    }
    header h1{
        font-size: 1rem;
    }
    header h1 img {
        width: 1.5rem;
    }
}