body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color:white;
    background-color: black;
    margin:0;
    padding: 0;
}

header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    align-items: center;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-shadow: 1px 1px silver;
    z-index:1;
    background-color: black;
    font-size: 1.25rem;
}

main{
    font-size: 1.25rem;
    line-height: 1.5rem;
    position: absolute;
    top:3rem;
    bottom:2rem;
    border-width:1px;
    border-style: dashed;
    border-color: darkslategray;
    border-radius: 1rem;
    overflow-y: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    --color: rgba(0, 200, 0, 0.99);
    --animation: terminal-glow;
    --glow: 1;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: .2rem;
    padding-bottom: .2rem;
    z-index:1;
    background-color: black;
}

footer a {
    font-size: .8rem;
    color:white;
    text-decoration: none;
}

footer a::after {
    content: "|";
    padding-left: .5rem;
}

footer a:last-child::after {
    content: "";
}

art{
    display: none;
}